	{% extends 'Base/Base.html' %}
	
	{% block css %}
		<style>
			th, td {
				text-align: center;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}
		
		<div class="panel-body">
		
			<!-- inicio Menu -->
			{% include 'Base/Menu/Mejoramiento_Mejoras.html' %}
			<!-- Fin Menu  -->
		
			<!--	<h3>Listado de Mejoras</h1> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Listado de Mejoras</div>
				</div>
					
				<div class="panel-body with-table">
					<table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Fecha</th>
								<th>Usuario</th>
								<th>Empresa</th>
								<th>Herramienta</th>
								<th>Estado</th>
								<th>Acciones</th>
							</tr>
						</thead>
						
						<tbody>
							
							{% for mejora in consulta %}
								<tr>
									<td>{{ mejora.getId|e }}</td>
									<td>{{ mejora.getFecha|date("Y-m-d H:i:s")|e }}</td>
									<td>{{ mejora.getUsuario.getUsuario|e }}</td>
									<td>{{ mejora.getUsuario.getEmpresa.getNombre|title|e }}</td>
									<td>{{ mejora.getHerramienta|e }}</td>
									<td>
										<span class="btn {{ mejora.getEstado.getId == 1 ? 'btn-warning' : 'btn-info' }} btn-block btn-xs">{{ mejora.getEstado.getNombre|e }}</span>
									</td>
									<td>
										<a href="{{ RUTA_APP|e }}/Mejoras/Observar/Index/{{ mejora.getId|e }}" class="btn btn-info btn-icon">Observar <i class="entypo-search"></i></a>
										
										{% if app.sesion.Mejoras.actualizar == true and mejora.getEstado.getId == 1  %}
											<a href="{{ RUTA_APP|e }}/Mejoras/Gestion/Index/{{ mejora.getId|e }}" class="btn btn-danger btn-icon">Gestion <i class="entypo-search"></i></a>
										{% endif %}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="7">
										<div class="page-error-404">
											<div class="error-symbol">
												<a href="{{ RUTA_APP|e }}/Mejoras/Nueva">
													<i class="entypo-folder"></i>
												</a>
											</div>
											<div class="error-text">
												<p>No hay registro de Mejoras!</p>
											</div>
											<hr />
										</div>
									</td>
								</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
			
		</div>

	{% endblock %}