	{% extends 'Base/Base.html' %}
	
	{% block css %}
		<style>
			th, td {
				text-align: center;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}
		
		<div class="panel-body">
		
			<!-- inicio Menu -->
			{% include 'Base/Menu/Mejoramiento_Mejoras.html' %}
			<!-- Fin Menu  -->
			
			<!--	<h3>Listado de Mejoras</h3> -->
				
				<table class="table table-bordered datatable" id="table-list">
					<thead>
						
						{% for mejora in consulta %}
							<tr>
						{% else %}
							<tr style="display: none;">						
						{% endfor %}
								<th>#</th>
								<th>Fecha</th>
								<th>Usuario</th>
								<th>Empresa</th>
								<th>Herramienta</th>
								<th>Estado</th>
								<th>Acciones</th>
							</tr>
						
					</thead>
					<tbody>
						{% for mejora in consulta %}
							<tr class="odd gradeX">
								<td>{{ mejora.getId|e }}</td>
								<td>{{ mejora.getFecha|date("Y-m-d H:i:s")|e }}</td>
								<td>{{ mejora.getUsuario.getUsuario|e }}</td>
								<td>{{ mejora.getUsuario.getEmpresa.getNombre|title|e }}</td>
								<td>{{ mejora.getHerramienta|e }}</td>
								<td>
									<span 
										class="btn {{ mejora.getEstado.getId == 9 ? 'btn-red btn-block btn-xs' : mejora.getEstado.getId == 7 ? 'btn btn-primary btn-block btn-xs' : 'btn-blue btn-block btn-xs' }} popover-primary" 
										data-toggle="popover" data-trigger="hover" data-placement="top" 
										data-content="{{ mejora.getEstado.getId == 9 ? 'Los Objetivos NO fueron Aprobados' : mejora.getEstado.getId == 7 ? 'Mejora en Desarrollo por un Analista ' : 'Objetivos pendientes por Gestionar' }}" 
										data-original-title="Estado de la Mejora {{ mejora.getEstado.getId == 9 ? 'NO APROBADO' : mejora.getEstado.getId == 7 ? 'ESCALADO' : 'ACTIVO' }}">{{ mejora.getEstado.getNombre|e }}
									</span>
								</td>
								<td>
									<a href="{{ RUTA_APP|e }}/Mejoras/Observar/Index/{{ mejora.getId|e }}" class="btn btn-default btn-icon">Observar <i class="entypo-search"></i></a>
									{% if app.sesion.Mejoras.actualizar == true and mejora.getEstado.getId == 1  %}
										<a href="{{ RUTA_APP|e }}/Mejoras/Gestion/Index/{{ mejora.getId|e }}" class="btn btn-blue btn-icon">Gestion <i class="entypo-login"></i></a>
									{% endif %}
								</td>
							</tr>
						{% else %}
							<hr />
								<div class="page-error-404">
									<div class="error-symbol">
										<a href="{{ RUTA_APP|e }}/Mejoras/Nueva">
											<i class="entypo-folder"></i>
										</a>
									</div>
									<div class="error-text">
										<p>No hay registro de Mejoras!</p>
									</div>
									<hr />
								</div>
							<br />
						{% endfor %}	
					</tbody>
				</table>

		</div><!-- body end --> 

	{% endblock %}
	
	{% block script %}
	
	<script type="text/javascript">
		var responsiveHelper;
		var breakpointDefinition = {
		    tablet: 1024,
		    phone : 480
		};
		var tableContainer;
		
			jQuery(document).ready(function($)
			{
				tableContainer = $("#table-list");
				
				tableContainer.dataTable({
					"sPaginationType": "bootstrap",
					"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
					"bStateSave": true,
					
		
				    // Responsive Settings
				    bAutoWidth     : false,
				    fnPreDrawCallback: function () {
				        // Initialize the responsive datatables helper once.
				        if (!responsiveHelper) {
				            responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
				        }
				    },
				    fnRowCallback  : function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
				        responsiveHelper.createExpandIcon(nRow);
				    },
				    fnDrawCallback : function (oSettings) {
				        responsiveHelper.respond();
				    }
				});
				
				$(".dataTables_wrapper select").select2({
					minimumResultsForSearch: -1
				});
			});
		</script>
		
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ RUTA_PUBLICO|e }}/assets/js/datatables/responsive/css/datatables.responsive.css">
	<link rel="stylesheet" href="{{ RUTA_PUBLICO|e }}/assets/js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ RUTA_PUBLICO|e }}/assets/js/select2/select2.css">
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/jquery.dataTables.min.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/datatables/TableTools.min.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/dataTables.bootstrap.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/datatables/jquery.dataTables.columnFilter.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/datatables/lodash.min.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/datatables/responsive/js/datatables.responsive.js"></script>
	<script src="{{ RUTA_PUBLICO|e }}/assets/js/select2/select2.min.js"></script>
		
	{% endblock %}
	
	