 	{% extends 'Base/Base.html' %}
	
	{% block css %}
		<style>
			.data_li {
				margin-bottom: 15px;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}

		<div class="panel-body">
		
			<!-- inicio Menu -->
			{% include 'Base/Menu/Mejoramiento_Mejoras.html' %}
			<!-- Fin Menu  -->
		
			<div class="col-md-12">
				
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title"><strong>Mejora Id.{{ consulta.getId|e }}</strong></div>
						<div class="panel-options">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tab-info" data-toggle="tab"><b>Información</b><i class="entypo-info"></i></a>
								</li>
								<li>
									<a href="#tab-rutas" data-toggle="tab"><b>Rutas</b><i class="entypo-flow-cascade"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						
						<div class="tab-content">
							<div class="tab-pane active" id="tab-info">
								{% include 'Index/InformacionMejora.html' %}
							</div>
							<div class="tab-pane" id="tab-rutas">
								{% include 'Index/RutasMejora.html' %}
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col-md-12">
					
				<div class="panel panel-primary">
					
					<div class="panel-heading">
						<div class="panel-title">
							<h4>Objetivos <span class="badge badge-blue">{{ consulta.getObjetivos|length }}</span></h4>
						</div>
						<div class="panel-options">
							<button type="button" class="fixbutton mej_esc">Escalar Mejora <i class="entypo-install"></i></button>
						</div>
					</div>
					
					<div class="panel-body no-padding">
								
						<ul class="comments-list">
							
							{% for objetivo in consulta.getObjetivos %}
				
								<li class="alert alert-{{ objetivo.getEstado.getId == 9 ? 'danger' : objetivo.getEstado.getId == 8 ? 'info' : 'panel-warning' }}" id="list_{{ objetivo.getId|e }}" >		
									<div class="comment-details">
										<div class="comment-head">
											<strong>{{ consulta.getUsuario.getNombreInicial|title|e }} {{ consulta.getUsuario.getNombreFinal|title|e }} {{ consulta.getUsuario.getApellidoInicial|title|e }} {{ consulta.getUsuario.getApellidoFinal|title|e }} - {{ consulta.getUsuario.getEmpresa.getNombre|title|e }}</strong>
										</div>
										
										<div class="comment-text">
											{{ objetivo.getObjetivo|lower|capitalize|e }}
										</div>
												
										<div class="comment-footer">
											<div class="comment-time">{{ objetivo.getFechaObjetivo|date("Y-m-d H:i:s")|e }}</div>
											<div class="action-links" id="action_{{ objetivo.getId|e }}">
												{% if objetivo.getEstado.getId == 1 %}
													<a href="javascript:;" class="approve aprobado" data="{{ objetivo.getId|e }}" data-mejora="{{ consulta.getId|e }}"><i class="entypo-check"></i>Aprobado</a>
													<a href="javascript:;" class="delete no_aprobado" data="{{ objetivo.getId|e }}" data-mejora="{{ consulta.getId|e }}"><i class="entypo-cancel"></i>No Aprobado</a>
												{% else %}
													<strong>{{ objetivo.getEstado.getNombre|e }}</strong>
												{% endif %}
											</div>
										</div>
									</div>
								</li>
								
							{% endfor %}
							
								
						</ul>
					</div>
				</div>
			</div>
		
		</div>

	{% endblock %}

	{% block script %}
		<script type="text/javascript" src="{{ RUTA_APP|e }}/Mejoras/Gestion/jsController/controlador.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				controller.init();
			});
		</script>
		
		<style type="text/css">
				.error {
					color: red;
					font-family: verdana;
					font-size: 10px;
					font-weight: bold;
				}
				.fixbutton {
					background-color: #303641; /* Black */
				    border: none;
				    color: white;
				    padding: 3px 8px;
				    text-align: center;
				    display: inline-block;
				    font-size: 14px;
				    margin: 4px 2px;
				    cursor: pointer;
				    -webkit-transition-duration: 0.4s; /* Safari */
				    transition-duration: 0.4s;
				    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
				}
			</style>
	{% endblock %}
	
